:root{
    --primary: #6663ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: 0px;
}

#root{
    width: 100%;
    min-height: 100vh;
}